<h2 align="center">
  Hello! This is Chang-Yi(Alex)'s website.
</h2>
<hr>
<pre>
Hello, my name is ChangYi Chen, or you can call me Alex Chen. Rright now I'm a student studying in International Technological University (ITU), and my major is in Engineering Management.
</pre>
<p>I have several hobbies, such as traveling, watching cartoon and anime, playing video games and computer games, and cooking.
</p>
<br>
<br>
My hobbies:
<blockquote>
  Traveling:
  <blockquote>I have been to Japan, Singapore, Maldives ...etc</blockquote>
  Cartoon and Anime:
  <blockquote>My favorites are Adventrue time, Regular show, One Piece and HunterxHunter</blockquote>
  Games:
  <blockquote>League of Legend, World of Warcraft, The division and Mega Man</blockquote>
  Cooking:
  <blockquote>Chinese food, Taiwanese food, Japanese food and Korean food</blockquote>
</blockquote>
<hr>
<p style="text-align:center">
  Please contact me if you have a similiar hobbies!!! We can share experience with each other.</p>
<br>

<p>You can find me at:</p>
<address>
Chang-Yi(Alex) Chen 91200<br>
International Technological University(ITU) <br>
2711 N 1st St. <br>
San Jose, CA 95134
</address>
