<h1>Question 3 - Person</h1>

<h2>Introduction:</h2>
<p>
  <%= @person.introduce %>
</p>

<h2>My brith year:</h2>
<p>
  <%= @person.birth_year %>
</p>

<h2>My nickname:</h2>
<p>
  <%= @person.nickname %>
</p>
